.btn-animate {
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    background: #479aed;
    color: #fff;
    text-align: center;
  }
  
  .btn-animate__rectangle-out {
    position: relative;
    z-index: 1;
  
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transform: scale(0);
      background-color: #ed8209;
      border-radius: 5px;
      transition: .3s ease-out;
    }
  
    &:hover {
      &::before {
        transform: scale(1);
      }
    }
  }